.direccion{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: rgb(5, 5, 59);
    padding: 5px;
}

.direccion p{
    color: white;
    font-size: 15px;
    margin: 2px;
}

.contenedor-footer{
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 40%;
    height: auto;
    border-radius: 10px;
    display: inline-block;
    padding: 2%;
    border: 3px dotted rgb(5, 5, 59);
}

.footer2{
    display: flex;
}

.contenedor-footer p{
    color: white;
    font-family: Helvetica;
    font-size: 15px;
    text-align: justify;
}

.contenedor-footer a{
    text-decoration: none;
    color: #699ca4;
}

.footer-privado {
    position: relative;
    width: 100%;
    background-color: rgb(1, 1, 39);
    color: white;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    height: auto;
    margin-bottom: 0;
    margin-top: auto;
    margin-left: 0;
    margin-right: 0;
    }
    footer
    {
       position: relative;
    width: 100%;
    background-color: rgb(1, 1, 39);
    color: white;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    height: auto;
    margin-bottom: 0;
    margin-top: auto;
    margin-left: 0;
    margin-right: 0;
    }
